.game-title {
  display: grid;
  grid-template-columns: 1.25em max-content;
  column-gap: 1rem;
  margin-bottom: 0.5em;
  img {
    place-self: center;
  }
  a {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 600;
    &.visited {
      color: $blue;
      &::before,
      &::after {
        background: $blue-light;
      }
    }
  }
}