$gap-xs: 8px;
$gap-s: 12px;
$gap: 24px;
$gap-m: 36px;
$gap-l: 48px;
$foreground: black;
$font-size: 1.25rem;
$font-size-s: 18px;
$font-size-xs: 14px;
$red-light: #FECBCA;
$red: #F83735;
$yellow: #FAC832;
$blue: #1231B5;
$blue-light: #84B4F9;
$content-width: 700px;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);