<ul class="game-list">
  {% for item in games.items %}
  <li>
    <a class="game-title" href="{{item.url}}"><span class="iconify-inline" data-icon="fa6-solid:person-running"></span> {{item.name}}</a>
    <p class="game-description">{{item.description}}</p>
  </li>
  {% endfor %}
</ul>